# Functions

In [1]:
# create user defined function
def greet():
    print('Hello follower')

In [2]:
greet()

Hello follower

In [3]:
def addition(n1,n2):
    print(n1+n2)

addition(2,3)

5

In [4]:
#Call by value - immutable data types are called by value
def increment(n):
    n+=1
    print('In function:'+str(n))
    
n=10
print('Before function :'+str(n))
increment(n)
print('After finction:'+str(n))

Before function :10
In function:11
After finction:10

In [5]:
# Call by reference - all mutable data type values are called by reference
def do(lst):
    lst.append(1234)
    print('In function :',lst)
    
lst=[1,2,3,4,5]
print('before function:', lst)
do(lst)
print('After function:',lst)

before function: [1, 2, 3, 4, 5]
In function : [1, 2, 3, 4, 5, 1234]
After function: [1, 2, 3, 4, 5, 1234]

In [6]:
#reutrn statement
def subtract(n1,n2):
    return n1-n2
sp= subtract(30,10)
print(sp)

20

In [7]:
#default arguments
def adds(n1,n2=30):
    print(n1,'+', n2,'=',n1+n2)
    
adds(20)
adds(20,20)

20 + 30 = 50
20 + 20 = 40

In [8]:
#keyword arguments
def prints(name, clas, roll):
    print(clas, roll, name)

prints('Shubham', 'PG', 123)
prints(clas='PG',name='shubham',roll=123)
prints(name='shubham',clas='PG', roll=123)
prints(roll=123, name='shubham', clas='PG')

PG 123 Shubham
PG 123 shubham
PG 123 shubham
PG 123 shubham

In [9]:
#postional arguments
def rp(age , name ):
    print(age, name)
    
rp(23, 'shubham')
rp('shubham',23)

23 shubham
shubham 23

In [10]:
#Arbitrary argument
# 1 arg
def sums(n1, *args):
    s=0
    for i in args:
        s+=i
    print(s)
sums(1,2,3,4,5)
sums(1,2,3,4,5.6,3,5)
sums(11,22,33,44)
sums(1)

14
22.6
99
0

In [11]:
#2 kwargs
def info(**kwargs):
    print(kwargs)
    #for i in kwargs.item():
        #print(i)
    print()
    
info(name='shubham ')
info(name='shubham', age =23)
info(name='shubham ', age=23, clas='PG')

{'name': 'shubham '}

{'name': 'shubham', 'age': 23}

{'name': 'shubham ', 'age': 23, 'clas': 'PG'}

In [12]:
#Doc string 
def adds(s1,s2):
    'Function return concatenated string'
    s=s1+s2
    return s
print(adds.__doc__)

Function return concatenated string

In [13]:
#Function within Function
def f1():
    print('Function 1 body..')
    def f2():
        print('function 2 body')
    f2()
    print('Function 1 body')

f1()
f1()

Function 1 body..
function 2 body
Function 1 body
Function 1 body..
function 2 body
Function 1 body

In [14]:
#Anonymous (lambda) function
sqr= lambda x:x**2
print(sqr(30))

900

In [15]:
adds= lambda y:y+23
print(adds(10))

33

In [16]:
even = lambda a:a%2==0
print(even(5))
print(even(8))

False
True

In [17]:
#variable scope
n,m=10,29
print(n,m)
def func(n):
    a=10
    global b
    b=12
    print(a,n,b)
    print(m)

func(n)
print(n,m)

10 29
10 10 12
29
10 29

In [18]:
# yield vs return 
def fun1(n):
    for i in range(1,n):
        return i**2
print(fun1(10))

1

In [19]:
def fun2(n):
    for i in range(1,n):
        yield i**2
print(list(fun2(5)))

[1, 4, 9, 16]